<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Manage skills</title>
    <meta charset="UTF-8"/>
</head>
<body>
<div layout:fragment="content">
    <div class="titulo-seccion-back">
        <a href="#" onClick="history.back()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-nut-fill" viewBox="0 0 16 16" >
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
            </svg>
        </a>
        <h2>Information about the student <b th:text="${student}"></b></h2>
    </div>

    <h2>Balance of the hours for the student</h2>
    <div class="form-group row">
        <label class="control-label col-sm-2" for="balance">Balance hours:</label>
        <div class="col-sm-4">
            <input type="number" class="form-control" id="balance" th:field="*{balance_hours}" readonly/>
        </div>
    </div>

    <h2>Average for the assessment score of the collaborations</h2>
    <div class="form-group row">
        <label class="control-label col-sm-2" for="average_assessment">Average assessment score:</label>
        <div class="col-sm-4">
            <input type="number" class="form-control" id="average_assessment" th:field="*{average_assessment}"
                   readonly/>
        </div>
    </div>

    <h2>List of offers</h2>
    <div th:if="${#lists.isEmpty(offers)}">
        <h3>There are currently no offers for this student</h3>
    </div>
    <table class="table table-striped" th:unless="${#lists.isEmpty(offers)}">
        <thead>
        <tr>
            <th>Skill</th>
            <th>Description</th>
            <th>Start date</th>
            <th>Finish date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="offer: ${offers}">
            <td th:text="${offer.name}"></td>
            <td th:text="${offer.description}"></td>
            <td th:text="${offer.startDate}"></td>
            <td th:text="${offer.finishDate}"></td>
        </tr>
        </tbody>
    </table>

    <h2>List of requests</h2>
    <div th:if="${#lists.isEmpty(requests)}">
        <h3>There are currently no requests for this student</h3>
    </div>
    <table class="table table-striped" th:unless="${#lists.isEmpty(requests)}">
        <thead>
        <tr>
            <th>Skill</th>
            <th>Description</th>
            <th>Start date</th>
            <th>Finish date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="request: ${requests}">
            <td th:text="${request.name}"></td>
            <td th:text="${request.description}"></td>
            <td th:text="${request.startDate}"></td>
            <td th:text="${request.finishDate}"></td>
        </tr>
        </tbody>
    </table>

    <h2>List of collaborations</h2>
    <div th:if="${#lists.isEmpty(collaborations)}">
        <h3>There are currently no collaborations for this student</h3>
    </div>
    <table class="table table-striped" th:unless="${#lists.isEmpty(collaborations)}">
        <thead>
        <tr>
            <th>ID offer</th>
            <th>Student offer</th>
            <th>ID request</th>
            <th>Student request</th>
            <th>Total hours</th>
            <th>Assessment score</th>
            <th>Collaboration's state</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="collaboration: ${collaborations}">
            <td th:text="${collaboration.idOffer}"></td>
            <td th:text="${collaboration.studentOffer}"></td>
            <td th:text="${collaboration.idRequest}"></td>
            <td th:text="${collaboration.studentRequest}"></td>
            <td th:text="${collaboration.hours}"></td>
            <td th:text="${collaboration.assessment}"></td>
            <td th:text="${collaboration.state}"></td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/student/block/{username}(username=${student})}" class="btn btn-danger"
       th:onclick="return confirm('Are you sure you want to ban this student?');"
       role="button">Block student</a>

</div>
</body>
</html>