<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Add collaboration</title>
    <meta charset="UTF-8" />
</head>
<body>
<div layout:fragment="content">
    <h2>New collaboration</h2>
    <form class="form-horizontal" action="#" th:action="@{/collaboration/add}"
          th:object="${collaboration}" method="post">

        <input type="text" class="form-control" id="idOffer" th:field="${collaboration.idOffer}" hidden/>
        <input type="text" class="form-control" id="idRequest" th:field="${collaboration.idRequest}" hidden/>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="skill">Requested skill:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="skill" th:field="${request.name}" readonly/>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="studentOffer">Offerer student:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="studentOffer" th:field="${collaboration.studentOffer}" readonly/>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="studentRequest">Requesting student:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="studentRequest" th:field="${collaboration.studentRequest}" readonly/>
            </div>
        </div>

<!--        TODO soy subnormal y no se hacer funcionar los dates-->
<!--        <div class="form-group row">-->
<!--            <label class="control-label col-sm-2" for="requestStartDate">Start date:</label>-->
<!--            <div class="col-sm-4">-->
<!--                <p type="date" class="form-control" id="requestStartDate" th:field="${request.startDate}" readonly></p>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="form-group row">-->
<!--            <label class="control-label col-sm-2" for="requestEndDate">Finish date:</label>-->
<!--            <div class="col-sm-4">-->
<!--                <p type="date" class="form-control" id="requestEndDate" th:field="${request.finishDate}" readonly></p>-->
<!--            </div>-->
<!--        </div>-->

        <div class="form-group row">
            <label class="control-label col-sm-2" for="descriptionRequest">Request description:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="descriptionRequest" th:field="${request.description}" readonly/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-primary">Create collaboration</button>
                <span>
                     <button onClick="history.back()" class=" btn btn-info" >Back</button>
                 </span>
            </div>
        </div>
    </form>
</div>
</body>
</html>