<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Manage requests</title>
    <meta charset="UTF-8"/>
</head>
<body>
<div layout:fragment="content">
    <div th:if="${skill != null}">
        <h1>List of requests available for the skill <b th:text="${skill}"></b></h1>
    </div>
    <div th:if="${student != null}">
        <h1>List of requests available for the student <b th:text="${student}"></b></h1>
    </div>
    <div th:if="${skill == null and student == null}">
        <h1>List of requests available</h1>
    </div>
    <div th:if="${#lists.isEmpty(requests)}">
        <h2>No requests available</h2>
    </div>
    <table class="table table-striped" th:unless="${#lists.isEmpty(requests)}">
        <thead>
        <tr>
            <th>Skill</th>
            <th>Student</th>
            <th>Description</th>
            <th>Start date</th>
            <th>Finish date</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="request: ${requests}">
            <td th:text="${request.name}"></td>
            <td th:text="${request.username}"></td>
            <td th:text="${request.description}"></td>
            <td th:text="${request.startDate}"></td>
            <td th:text="${request.finishDate}"></td>
            <td th:if="${session.user != null and #strings.equals(session.user.username, request.username)}">
                <a th:href="@{/request/update/{id}(id=${request.id})}" class="btn btn-warning"
                   role="button">Update</a>
            </td>
            <td th:if="${session.user != null and #strings.equals(session.user.username, request.username) &&
            session.user.balanceHours ge -20}">
                <a th:href="@{/offer/list/collaborate/{id}(id=${request.id})}" class="btn btn-info"
                   role="button">View offers to collaborate</a>
            </td>
            <td th:if="${session.user != null and #strings.equals(session.user.username, request.username)}">
                <a th:href="@{/request/cancel/{id}(id=${request.id})}" class="btn btn-danger" role="button"
                   th:onclick="return confirm('Are you sure you want to cancel this request?');">
                    Cancel
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <span th:if="${session.user != null}">
            <a th:href="@{/request/add}" class="btn btn-success"
               role="button">Add new request</a>
        </span>
    </div>
    <div class="col-sm-12 d-flex justify-content-center">
         <span>
             <button onClick="history.back()" class=" btn btn-info" >Back</button>
         </span>
    </div>
</div>
</body>
</html>