<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Manage skills</title>
    <meta charset="UTF-8"/>
</head>
<body>
<div class="container" layout:fragment="content">
    <h1>List of skills available in the platform</h1>
    <div th:if="${#lists.isEmpty(skills)}">
        <h2>No skills available</h2>
    </div>
    <table class="table table-striped" th:unless="${#lists.isEmpty(skills)}">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Level</th>
            <th>Start date</th>
            <th>Finish date</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="skill: ${#lists.sort(skills)}">
            <td th:text="${skill.name}"></td>
            <td th:text="${skill.description}"></td>
            <td th:text="${skill.level}"></td>
            <td th:text="${skill.startDate}"></td>
            <td th:text="${skill.finishDate}"></td>
            <td th:if="${session.user != null and session.user.isSkp}">
                <a th:href="@{/skill/update/{name}(name=${skill.name})}" class="btn btn-warning"
                   role="button">Update</a>
            </td>
            <td th:if="${session.user != null and session.user.isSkp}">
                <a th:href="@{/skill/disable/{name}(name=${skill.name})}" class="btn btn-danger" role="button"
                   th:onclick="return confirm('Are you sure you want to disable the skill ' + [[${skill.name}]] + '?');">
                    Disable
                </a>
            </td>
            <td>
                <a th:href="@{/request/list/skill/{name}(name=${skill.name})}" class="btn btn-info"
                   role="button">See requests</a>
            </td>
            <td th:if="${session.user != null}">
                <a th:href="@{/offer/list/skill/{name}(name=${skill.name})}" class="btn btn-info"
                   role="button">See offers</a>
            </td>
            <td th:if="${session.user != null && session.user.balanceHours ge -20}">
                <a th:href="@{/request/add/{name}(name=${skill.name})}" class="btn btn-success"
                   role="button">Add request</a>
            </td>
            <td th:if="${session.user != null && session.user.balanceHours ge -20}">
                <a th:href="@{/offer/add/{name}(name=${skill.name})}" class="btn btn-success"
                   role="button">Add offer</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:if="${session.user != null && session.user.skp}">
        <h1>List of skills disabled in the platform</h1>
        <div th:if="${#lists.isEmpty(skills_disabled)}">
            <h2>No skills disabled</h2>
        </div>
        <table class="table table-striped" th:unless="${#lists.isEmpty(skills_disabled)}">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Level</th>
                <th>Start date</th>
                <th>Finish date</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="skill: ${#lists.sort(skills_disabled)}">
                <td th:text="${skill.name}"></td>
                <td th:text="${skill.description}"></td>
                <td th:text="${skill.level}"></td>
                <td th:text="${skill.startDate}"></td>
                <td th:text="${skill.finishDate}"></td>
                <td th:if="${session.user != null and session.user.isSkp}">
                    <a th:href="@{/skill/update/{name}(name=${skill.name})}" class="btn btn-success"
                       role="button">Able</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <p th:if="${session.user != null and session.user.isSkp}">
        <a th:href="@{/skill/add}" class="btn btn-success" role="button">Add skill</a>
    </p>
</div>
</body>
</html>