<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Manage offers</title>
    <meta charset="UTF-8" />
</head>
<body>
<div layout:fragment="content">
    <div th:if="${request != null}">
        <h1>List of offers available for collaborating with the request <b th:text="${request}"></b></h1>
    </div>
    <div th:if="${skill != null}">
        <h1>List of offers available for the skill <b th:text="${skill}"></b></h1>
    </div>
    <div th:if="${student != null}">
        <h1>List of offers available for the student <b th:text="${student}"></b></h1>
    </div>
    <div th:if="${skill == null and student == null and request == null}">
        <h1>List of offers available</h1>
    </div>
    <div th:if="${#lists.isEmpty(offers)}">
        <h2>No offers available</h2>
    </div>
    <table class="table table-striped" th:unless="${#lists.isEmpty(offers)}">
        <thead>
        <tr>
            <th>Skill</th>
            <th>Student</th>
            <th>Description</th>
            <th>Start date</th>
            <th>Finish date</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="offer: ${offers}">
            <td th:text="${offer.name}"></td>
            <td th:text="${offer.username}"></td>
            <td th:text="${offer.description}"></td>
            <td th:text="${offer.startDate}"></td>
            <td th:text="${offer.finishDate}"></td>
            <td th:if="${session.user != null and #strings.equals(session.user.username, offer.username)}">
                <a th:href="@{/offer/update/{id}(id=${offer.id})}" class="btn btn-warning"
                   role="button">Update</a>
            </td>
            <td th:if="${session.user != null and request != null && session.user.balanceHours ge -20}">
                <a th:href="@{/collaboration/add/{idOffer}/{idRequest}(idOffer=${offer.id}, idRequest=${request})}"
                   class="btn btn-success"
                   role="button">Apply for collaboration</a>
            </td>
            <td th:if="${session.user != null and #strings.equals(session.user.username, offer.username)}">
                <a th:href="@{/offer/cancel/{id}(id=${offer.id})}" class="btn btn-danger" role="button"
                   th:onclick="return confirm('Are you sure you want to cancel this offer?');">
                    Cancel
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <tr>
        <td th:if="${session.user != null and request == null }">
            <a th:href="@{/offer/add}" class="btn btn-success"
               role="button">Add offer</a>
        </td>
    </tr>
    <div class="col-sm-12 d-flex justify-content-center">
         <span>
             <button onClick="history.back()" class=" btn btn-info" >Back</button>
         </span>
    </div>
</div>
</body>
</html>