/* Classe CSS error */
.error {
    color: red;
    font-size:80%
}

/* Classe CSS per atributs erronis */
.needcorrection {
    color: red;
    background-color:yellow;
}

.loggeduser {
    color: gray;
    text-align: right;
    margin-right: 10pt;
}

/* Estilo UJI*/

.bg-UJI {
    --bs-bg-opacity: 1;
    background-color: #002744 !important;
}

.btn-UJI{
    font-weight: bolder;
    color: #fff;
    background-color: #3C688B;
    border-color: #3C688B;
}

.btn-UJI:active, .btn-UJI:focus, .btn-UJI:hover{
    color: #fff;
    background-color: #002744;
    border-color: #002744;
}

.btn-UJI:focus{
    box-shadow: 0 0 0 0.25rem #0d6efd40;
}

/*  NavBar UJI*/

.navbar-UJI .navbar-nav .nav-link{
    color: #f8f9fa;
}

.navbar h3 {
    color: white;
    margin: auto;
    font-weight: normal;
}

.navbar #logo {
    padding-left: 20px;
    padding-right: 50px;
}

.navbar span {
    display: flex;
    align-items: center;
    color: white;
}

.navbar a {
   padding-inline: 15px !important;
   color: white;
   text-decoration: none;
}

.navbar a:hover {
   color: white;
   text-decoration: underline;
}

.navbar .dropdown-menu a {
    color: black !important;
}

.navbar .login a {
    margin-right: 60px;
}

.navbar .perfil button {
    display: flex;
    align-items: center;
    padding-inline: 50px;
    margin-inline: 15px;
    background-color: #ffffff00;
    border-color: transparent;
    border-radius: 5px;
}

.navbar .perfil button:focus {
    box-shadow: 0 0 0 1px #0b5ba0;
}

.navbar .perfil li {
    display: flex;
    justify-content: center;
}

/* LOGIN */

.menu-login{
    width: 550px;
    margin: auto;
    padding: 0px 30px 30px 30px;
    border: #002744 solid 1px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.menu-login h3 {
    position: relative;
    top: -20px;
    background-color: white;
    width: fit-content;
    padding-inline: 15px;
}

.menu-login span {
    width: 85px;
    justify-content: center;
    font-weight: bolder;
}

.menu-login a, .menu-login a:hover{
    color: gray;
    font-weight: bolder;
}

.menu-login a:hover{
    color: gray;
    font-weight: bolder;
}


