/* Classe CSS error */
.error {
    color: red;
    font-size:80%
}

/* Classe CSS per atributs erronis */
.needcorrection {
    color: red;
    background-color:yellow;
}

.loggeduser {
    color: gray;
    text-align: right;
    margin-right: 10pt;
}

/* Estilo UJI*/

.bg-UJI {
    --bs-bg-opacity: 1;
    background-color: #002744 !important;
}

/*  NavBar UJI*/

.navbar-UJI .navbar-nav .nav-link{
    color: #f8f9fa;
}

.navbar #logo {
    padding-inline: 20px;
}

.navbar span {
    display: flex;
    align-items: center;
    color: white;
}

.navbar a {
   padding-inline: 0px;
   color: white;
   text-decoration: none;
}

.navbar a:hover {
   color: white;
   text-decoration: underline;
}

.navbar .dropdown-menu a {
    color: black !important;
}

.navbar .perfil button {
    display: flex;
    align-items: center;
    padding-inline: 50px;
    margin-inline: 15px;
    background-color: #ffffff00;
    border-color: transparent;
    border-radius: 5px;
}

.navbar .perfil button:focus {
    box-shadow: 0 0 0 1px #0b5ba0;
}

.navbar .perfil li {
    display: flex;
    justify-content: center;
}



