<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Manage emails</title>
    <meta charset="UTF-8"/>
</head>
<body>
<div layout:fragment="content">
    <h1>List of emails</h1>
    <form class="form-filtro" action="#" th:action="@{/email/paged_list/sender}"
          th:object="${email_filter}" method="post">
        <!--        <label for="name">Filter by name:</label>-->
        <input id="email" type="text" placeholder="Filter emails by the sender" name="email" th:field="*{email}"
               class="form-control"/>
        <button type="submit" class="btn btn-UJI">Filter</button>
    </form>
    <div th:with="emails=${emails_paged[__${selected_page}__]}">
        <div th:if="${#lists.isEmpty(emails)}">
            You don't have any emails.
        </div>
        <table class="table table-striped" th:unless="${#lists.isEmpty(emails)}">
            <thead>
            <tr>
                <th>Sender</th>
                <th>Send date</th>
                <th>Subject</th>
                <th>Body</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="email: ${#lists.sort(emails)}">
                <td th:text="${email.sender}"></td>
                <td th:text="${email.sendDate}"></td>
                <td th:text="${email.subject}"></td>
                <td th:text="${email.body}"></td>
                <td th:if="${session.user != null and session.user.isSkp}">
                    <a th:href="@{/email/delete/{id}(id=${email.id})}" class="btn btn-danger" role="button"
                       th:onclick="return confirm('Are you sure you want to delete the email?');">
                        Delete
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav class="nav-pag" aria-label="Selection of email's page">
        <ul class="pagination">
            <li th:class="page-item"
                th:classappend="${selected_page == 0} ? disabled">
                <a th:href="@{/email/paged_list/sender?sender={sender}&page={select}(sender=${sender}, select=${selected_page - 1})}"
                   class="page-link">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li th:class="page-item" th:if="${#lists.size(emails_paged) > 0}"
                th:classappend="${page_number == selected_page + 1} ? active"
                th:each="page_number : ${page_numbers}">
                <a th:href="@{/email/paged_list/sender?sender={sender}&page={select}(sender=${sender}, select=${page_number - 1})}"
                   th:text="${page_number}"
                   th:class="page-link">
                </a>
            </li>
            <li th:class="page-item"
                th:classappend="${selected_page == #lists.size(emails_paged) - 1} ? disabled">
                <a th:href="@{/email/paged_list/sender?sender={sender}&page={select}(sender=${sender}, select=${selected_page + 1})}"
                   class="page-link">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>