<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
  <title>Manage collaborations</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/skill_sharing.css"
        th:href="@{/css/skill_sharing.css}"/>
</head>
<body>
<div class="container" layout:fragment="content">
  <div style="display:flex;">
    <!--    Request-->
    < >
      <h1>My requests</h1>
      <div th:if="${#lists.isEmpty(requests)}">
        <h2>No requests available</h2>
      </div>
      <table class="table table-striped" th:unless="${#lists.isEmpty(requests)}">
        <thead>
        <tr>
          <th>Skill</th>
          <th>Description</th>
          <th>Start date</th>
          <th>Finish date</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="request: ${requests}">
          <td th:text="${request.name}"></td>
          <td hidden th:text="${request.username}"></td>
          <td th:text="${request.description}"></td>
          <td th:text="${request.startDate}"></td>
          <td th:text="${request.finishDate}"></td>
          <td th:if="${session.user != null and #strings.equals(session.user.username, request.username)}">
            <a th:href="@{/request/update/{id}(id=${request.id})}" class="btn btn-warning"
               role="button">Update</a>
          </td>
          <td th:if="${session.user != null and #strings.equals(session.user.username, request.username)}">
            <a th:href="@{/request/cancel/{id}(id=${request.id})}" class="btn btn-danger" role="button"
               th:onclick="return confirm('Are you sure you want to cancel this request?');">
              Cancel
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </section>

    <div style="margin: 25px;"></div>

    <section>
      <div>
        <h1>My offers</h1>
      </div>
      <div th:if="${#lists.isEmpty(offers)}">
        <h2>No offers available</h2>
      </div>
      <div style="display: flex; flex-direction: column;">
        <div style="display: flex;"><div class="input-group input-group-sm mb-3" style="padding: 10px;">
          <form action="#" th:action="@{/homePage/offerPerSkill}" th:object="${offer}" method="post">
            <div class="input-group-prepend"><span class="input-group-text" id="inputGroup-sizing-sm">Skill</span></div>
              <input id="name" type="text" class="form-control" aria-label="Small" placeholder="Skill" aria-describedby="inputGroup-sizing-sm">
            <button type="submit" class="btn btn-dark">Filtrar</button>
          </form>
        </div>
      </div>
      <table class="table table-striped" th:unless="${#lists.isEmpty(offers)}">
        <thead>
        <tr>
          <th>Skill</th>
          <th>Description</th>
          <th>Start date</th>
          <th>Finish date</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="offer: ${offers}">
          <td th:text="${offer.name}"></td>
          <td hidden th:text="${offer.username}"></td>
          <td th:text="${offer.description}"></td>
          <td th:text="${offer.startDate}"></td>
          <td th:text="${offer.finishDate}"></td>
          <td th:if="${session.user != null and #strings.equals(session.user.username, offer.username)}">
            <a th:href="@{/offer/update/{id}(id=${offer.id})}" class="btn btn-warning"
               role="button">Update</a>
          </td>
          <td th:if="${session.user != null and #strings.equals(session.user.username, offer.username)}">
            <a th:href="@{/offer/cancel/{id}(id=${offer.id})}" class="btn btn-danger" role="button"
               th:onclick="return confirm('Are you sure you want to cancel this offer?');">
              Cancel
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </section>
  </div>
  <br>
  <br>
  <section>
    <h1>My collaborations</h1>
    <div th:if="${#lists.isEmpty(collaborations)}">
      <h2>No collaborations available</h2>
    </div>
    <table class="table table-striped" th:unless="${#lists.isEmpty(collaborations)}">
      <thead>
      <tr>
        <th>Student offer</th>
        <th>Student request</th>
        <th>Total hours</th>
        <th>Score</th>
        <th>State</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="collaboration: ${collaborations}">
        <td hidden th:text="${collaboration.idOffer}"></td>
        <td th:text="${collaboration.studentOffer}"></td>
        <td hidden th:text="${collaboration.idRequest}"></td>
        <td th:text="${collaboration.studentRequest}"></td>
        <td th:text="${collaboration.hours}"></td>
        <td th:text="${collaboration.assessment}"></td>
        <td th:text="${collaboration.state}"></td>
        <td th:if="${session.user != null and student != null and #strings.equals(session.user.username, collaboration.studentRequest)}">
          <a th:href="@{/collaboration/update/{idOffer}/{idRequest}(idOffer=${collaboration.idOffer}, idRequest=${collaboration.idRequest})}"
             class="btn btn-warning" role="button">Update</a>
        </td>
      </tr>
      </tbody>
    </table>
  </section>
</div>
</body>
</html>